<div class="col">
  <div class="collapse" id="collapseCardOutput">

      <h2>Card JSON</h2>
      <div class="form-row">
          <!-- action pobiera se id ze zeminnej z pola formularza. docelowo ajaxem -->
          <form id="cardForm">
              <label>
                  This is your card in JSON format
              </label>
              <textarea id="soulOutput2" v-model="payload" class="form-control" rows="20" cols="80" style="margin-left: .25em">
                  Here will appear your SoulCard schema.</textarea>

              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSchema" aria-expanded="false" aria-controls="collapseSchema">
                  Show schema example
              </button>

              <div class="collapse" id="collapseSchema">
                  <pre><code>{
"soulCardId": "",
"soulCardTitle": "Litany against fear",
"soulCardSoulencje": [
{
"source": {
"author": "",
"created": "",
"source": "",
"sourceLink": ""
},
"soulIdParent": "",
"soulType": "",
"language": "",
"text": "I must not fear. Fear is the mind-killer."
}
],
"__v": 0
}
</code></pre>
              </div>
              <button v-on:click="cardpost" class="btn btn-success btn-lg btn-block">Save</button>
          </form>
      </div>
  </div>
</div>