<!DOCTYPE html>
<html>

<head>
    <% include common/head.html %>
</head>

<body>

    <!-- navbar start-->
    <% include ../views/common/nav.html %>

        <div class="container">
            <br>
            <br>
            <br>
            <div>
                <div id="app">
                    <main role="main">
                        <section class="jumbotron text-center">
                            <div class="container">
                                <h1 class="jumbotron-heading">🎴 SoulDeck Example</h1>
                                <p class="lead text-muted">This is SoulDeck. One of the mail features in SoulCaptain. Decks' main purpose is to gahter
                                    SoulNodes gathered in Cards. Decks can be browsed on regular basis or you can create
                                    collecion on special occasion.
                                </p>
                                <p>
                                    <a href="/deckcard.html" class="btn btn-primary my-2">Full screen</a>
                                    <a href="#" class="btn btn-secondary my-2">Edit/remix this deck</a>
                                </p>
                            </div>
                        </section>
                        <div class="album py-5 bg-light">
                            <div class="container">
                                <div class="row">

                                    <!-- pętla wypluwająca ładne karciochy -->
                                    <div v-for="card in soulDeck.soulDeckCards" class="col-md-4">
                                        <div class="card mb-4 box-shadow">
                                            <div class="card-body">
                                                <p class="card-tilte">{{card.soulCardTitle}}
                                                </p>
                                                <hr>
                                                <div v-for="encja in card.soulCardSoulencje">
                                                    <div v-if="encja.soulType==='habit'">
                                                        This is habit
                                                        <a class="btn btn-primary">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                    </div>
                                                    <p class="card-text">{{encja.text}}
                                                    </p>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                                        </div>
                                                        <small class="text-muted">{{encja.source.author}}</small>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- pętla wypluwająca ładne karciochy -->


                                </div>
                            </div>

                        </div>

                    </main>
                </div>
            </div>
        </div>

        <% include common/footer.html %>
        <script src="/main.js"></script>

</body>

</html>