<!DOCTYPE html>
<html lang="en">

<head>
    <% include common/head.html %>
</head>

<body>
    <!-- navbar start-->
    <% include ../views/common/nav.html %>

        <div id="app">
            <div class="container">

                <main role="main">

                    <section class="jumbotron">
                        <div class="container">
                            <h1 class="jumbotron-heading">🎴 SoulDeck Example</h1>
                            <p class="lead">This is SoulDeck. One of the mail features in SoulCaptain. Decks' main purpose is to gather SoulNodes
                                gathered in Cards. Decks can be browsed on regular basis or you can create collection on
                                special occasion.
                            </p>
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group" role="group" aria-label="First group">
                                    <a href="/deckcardadd.html" type="button" class="btn btn-primary">Add card</a>
                                </div>
                                <div class="btn-group">
                                    <div class="btn-group" role="group" aria-label="First group">
                                        <a href="/deck.html" type="button" class="btn btn-secondary">Grid</a>
                                        <a href="/deckdocument.html" type="button" class="btn btn-secondary">Document</a>
                                        <a href="/deckcardcarousel.html" type="button" class="btn btn-secondary">Fullscreen</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col-9">
                            <div v-for="card in soulDeck.cards">
                                <h2>{{card.soulCardTitle}}
                                </h2>
                                <hr>
                                <div v-for="encja in card.soulCardSoulencje">
                                    <div v-if="encja.soulType==='habit'">
                                        This is habit
                                        <a class="btn btn-primary">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <p>{{encja.text}}
                                    </p>
                                    <blockquote class="blockquote text-right">
                                        <footer class="blockquote-footer">{{encja.source.author}}</footer>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </main>
            </div>
        </div>

        <% include common/script-footer.html %>
            <% include common/footer.html %>
                <script src="/main.js"></script>

</body>

</html>