<!DOCTYPE html>
<html>

<head>
    <% include common/head.html %>
</head>

<body>

    <!-- navbar start-->
    <% include ../views/common/nav.html %>
        <div class="container">
            <p>My diary</p>

            <div id="diaryadder" class="container">
                <h1>Add diary entry</h1>
                <hr>

                <div class="row">

                    <div class="col">

                        <h2>Diary Entry</h2>

                        <form action="">

                            <div class="form-row">
                                <label>
                                    diaryDate
                                </label>
                                <textarea class="form-control" type="text" name="diaryDate" id="diaryDate" v-model="diaryDate" rows="1"></textarea>
                            </div>

                            <div class="form-row">
                                <label>
                                    diaryNote
                                </label>
                                <textarea class="form-control" type="text" name="diaryNote" id="diaryNote" v-model="diaryNote" rows="3"></textarea>
                            </div>

                            <div class="form-row">
                                <label>
                                    diaryMood
                                </label>
                                <textarea class="form-control" type="text" name="diaryMood" id="diaryMood" v-model="diaryMood" rows="1"></textarea>
                            </div>

                        </form>

                    </div>

                    <div class="col">
                        <h2>Diary Entry preview</h2>
                        <p>This is how your diary post will look like.
                            <p/>
                            <div class="card mb-4 box-shadow">
                                <div class="card-body">
                                    <button type="button" class="close" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                    <p class="card-tilte">{{ diaryNote }}</p>
                                    <hr>
                                    <div>
                                        <p class="card-text">{{ soulCardText }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">{{ diaryMood }}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button id="buttong" v-on:click="inputs2json" type="button" class="btn btn-primary btn-lg btn-block" data-toggle="collapse"
                                data-target="#collapseCardOutput" aria-controls="collapseCardOutput">Generate Diary Entry</button>
                    </div>


                    <div class="col">
                        <div class="collapse" id="collapseCardOutput">

                            <h2>Card JSON</h2>
                            <div class="form-row">
                                <!-- action pobiera se id ze zeminnej z pola formularza. docelowo ajaxem -->
                                <form id="cardForm">
                                    <label>
                                        This is your card in JSON format
                                    </label>
                                    <textarea id="soulOutput2" v-model="payload" class="form-control" rows="20" cols="80" style="margin-left: .25em">
                                        Here will appear your SoulCard schema.</textarea>

                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSchema" aria-expanded="false" aria-controls="collapseSchema">
                                        Show schema example
                                    </button>

                                    <div class="collapse" id="collapseSchema">
                                        <pre><code>{
"soulCardId": "",
"soulCardTitle": "Litany against fear",
"soulCardSoulencje": [
{
"source": {
    "author": "",
    "created": "",
    "source": "",
    "sourceLink": ""
},
"soulIdParent": "",
"soulType": "",
"language": "",
"text": "I must not fear. Fear is the mind-killer."
}
],
"__v": 0
}
</code></pre>
                                    </div>
                                    <button v-on:click="cardpost" class="btn btn-success btn-lg btn-block">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>
        <% include common/script-footer.html %>
        <% include common/footer.html %>
        <script src="/adddiary.js"></script>

</body>

</html>