<!doctype html>
<html lang="en">

<head>
    <% include common/head.html %>
</head>

<body>
    <div id="app">
        <!-- navbar start-->
        <% include common/nav.html %>

            <!-- navbar start-->
            <% if (user &&
		user.email &&
		user.personalInfo &&
		user.personalInfo[0] &&
		user.personalInfo[0].firstName) { %>
                <% include common/indexloggedin.html %>
                    <% } else { %>
                        <% include common/indexloggedout.html %>
                            <% } %>

                                <% include common/footer.html %>
                                    <script src="/scripts/deck/deck.js"></script>
    </div>
</body>

</html>