<!doctype html>
<html lang="en">

<head>
    <% include common/head.html %>
</head>

<body>

<!-- navbar start-->
<% include common/nav.html %>
<!-- navbar start-->

<main class="contaiter" role="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <div style="text-align:center">
                    <h1>
                        👻 SoulCaptain
                    </h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                    Hi!
                </p>
                <p>
                    This is SoulCaptain under development.
                </p>
                <p>
                    Greetings
                </p>
                <p>
                    Maciej & Wiktor
                </p>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem; margin-bottom: 30px;">
                    <div class="card-header">
                        <h2>Internal Links</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="/deck.html">🎴 Deck</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/deckdocument.html">🎴 📄 Deck Document</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/deckcard.html">🃏 DeckCard</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/deckcardcarousel.html"> 🎠 🃏 DeckCardCarousel</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/deckcardadd.html">📝 🃏 DeckCardAdd</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/habits.html">❌ DailyX</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/signup.html">✍️ Sign Up</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/login.html">✅ Login</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="clearfix"></div>

            <div class="col">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h2>External Links</h2>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="https://gitlab.com/maciejjankowski/soulcaptain/boards/381245?=">👻 💡 sc_backlog
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://gitlab.com/maciejjankowski/soulcaptain/wikis/home">📗 SoulWiki</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://codemoon.slack.com/messages/C08J04G7Q/details/">💬 SoulSlack</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://glitch.com/edit/#!/summer-name?path=README.md">📝 SoulTasks - README.md</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://github.com/maciejjankowski/soulcaptain"> 🌷 SoulCode - Github</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://glitch.com/edit/#!/summer-name?path=static/index.html"> 👩‍💻 SoulCode -
                                Glitch
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://moa.mydevil.net/index.php?action=admin.index&host=3"> 📡 SoulDatabase -
                                Mongo </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>

<% include common/script-footer.html %>
<% include common/footer.html %>
<script src="/main.js"></script>
</body>

</html>