<!doctype html>
<html lang="en">

<head>
    <% include common/head.html %>
    <link href="floating-labels.css" rel="stylesheet">
</head>

<body>

    <!-- navbar start-->
    <% include ../views/common/nav.htmls %>
NAV
        <div>
            <form class="form-signin" action="/login" method="POST" id="formSignin">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="text-center mb-4">
                    <h1 class="h1 mb-3 font-weight-heavy">✅ Sign in</h1>
                    <p>Log in to your 👻 SoulCaptain account.</p>
                    <p>You do not have account?
                        <a href="/signup.html">Sign Up here!</a>
                    </p>
                </div>

                <div class="form-label-group">
                    <input type="email" name="email" placeholder="Email" id="inputEmail" class="form-control" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="password" name="password" placeholder="Password" id="inputPassword" class="form-control" required=>
                    <label for="inputPassword">Password</label>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>

                <button type="submit" form="formSignin" value="Submit" class="btn btn-lg btn-primary btn-block">Sign in</button>

                <p class="mt-5 mb-3 text-muted text-center">&copy; maj 2013-2017, maj & roktiw 2017 - 2018</p>

            </form>
        </div>

        <% include common/footer.html %>
        <script src="/main.js"></script>

</body>

</html>