<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <% include ../../common/head.html %>
</head>

<body>
    <div id="app">
        <% include ../../common/nav.html %>
            <div class="container">
                <div class="">

                    <h1>Experimental</h1>
                    <p>Here are things that work or not or are work-in-progress. General developer area. You are using it for
                        your own responsibility!</p>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card" style="width: 18rem; margin-bottom: 30px;">
                            <div class="card-header">
                                <h2>Internal Links</h2>
                            </div>
                            <li class="list-group-item">
                                <a href="/diary.html">📘📖Diary</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/diaryAdd.html">📘✍️Add Diary entry</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/deck.html">🎴 Deck</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/deckdocument.html">🎴📄 DeckDocument</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/deckcard.html">🃏 SoulCard</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/deckcardcarousel.html">🃏🎠 CardCarousel</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/deckcardadd.html">🃏📝 CardAdd</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/habits.html">❌ DailyX</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/blog.html">👻🎊 SoulBlog</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/signup.html">✍️ Sign Up</a>
                            </li>
                            <li class="list-group-item">
                                <a href="/login.html">✅ Login</a>
                            </li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="clearfix"></div>

                    <div class="col">
                        <div class="card" style="width: 18rem;">
                            <div class="card-header">
                                <h2>External Links</h2>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <a href="https://gitlab.com/maciejjankowski/soulcaptain/boards/381245?=" target="_blank">👻 💡 sc_backlog
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://gitlab.com/maciejjankowski/soulcaptain/wikis/home" target="_blank">📗 SoulWiki</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://codemoon.slack.com/messages/C08J04G7Q/details/" target="_blank">💬 SoulSlack</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://glitch.com/edit/#!/summer-name?path=README.md" target="_blank">📝 SoulTasks - README.md</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://github.com/maciejjankowski/soulcaptain" target="_blank">🌷 SoulCode - Github</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://glitch.com/edit/#!/summer-name?path=static/index.html" target="_blank">👩‍💻 SoulCode - Glitch
                                    </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="https://moa.mydevil.net/index.php?action=admin.index&host=3" target="_blank">📡 SoulDatabase - Mongo </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="">
                    <h2>Deck mgmt</h2>
                    <ul>
                        <li v-for="(deck, deckIndex) in soulDecks">
                            <a v-bind:href="'/deck.html/' + deck._id">{{deck._id}} {{deck.title}}</a>
                            <a v-bind:href="'/deck/'+deck._id + '/delete'">&times;</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</body>

<% include ../../common/script-footer.html %>
    <script src="/scripts/deck/list.js"></script>

</html>