<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <% include ../../common/head.html %>
</head>

<body>
    <div id="app">
        <% include ../../common/nav.html %>
            <div class="container">
                <div class="">

                    <h1>Experimental</h1>
                    <p>Here are things that work or not or are work-in-progress. General developer area. You are using it for
                        your own responsibility!</p>
                </div>
                <div class="">
                    <h2>Testing modules</h2>
                    <ul>
                        <h6 class="">
                            <span>Diary</span>
                            <a class="" href="/diary.html">
                                <span data-feather="plus-circle"></span>

                            </a>
                        </h6>
                        <ul class="">
                            <li class="nav-item">
                                <a class="nav-link" href="/diary.html">
                                    <span data-feather="file-text"></span>
                                    📘📖Diary
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/diaryAdd.html">
                                    <span data-feather="file-text"></span>
                                    📘✍️Add Diary entry
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/profile.html">
                                    <span data-feather="file-text"></span>
                                    👤 Profile
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/habits.html">
                                    <span data-feather="file-text"></span>
                                    ❌ DailyX
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>
                <div class="">
                    <h2>Deck mgmt</h2>
                    <ul>
                        <li v-for="(deck, deckIndex) in soulDecks">
                            <a v-bind:href="'/deck.html/' + deck._id">{{deck._id}} {{deck.title}}</a>
                            <a v-bind:href="'/deck/'+deck._id + '/delete'">&times;</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</body>

<% include ../../common/script-footer.html %>
    <script src="/scripts/deck/list.js"></script>

</html>