<!DOCTYPE html>
<html>

<head>
	<% include ../../common/head.html %>
</head>

<body>
	<div id="app">
		<!-- navbar start-->
		<% include ../../common/nav.html %>
			<div class="container">
				<% include ../../extras/backlog/features/backlogcontents.html %>
			</div>
			<% include ../../common/script-footer.html %>
				<% include ../../common/script-footer.html %>
					<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
					<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
					<script>
						hljs.initHighlightingOnLoad();
					</script>
	</div>
</body>

</html>