<!DOCTYPE html>
<html lang="en">

<html>

<head>
	<% include ../../common/head.html %>
</head>

<body>

	<!-- navbar start-->
	<% include ../../common/nav.html %>

		<div class="container">
			<div class="row">
				<div class="col">
					<div style="text-align:center">
						<h1>
							👻 SoulCaptain
						</h1>
						<p>This is 👻 SoulCaptain secret backlog</p>
					</div>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="col">
					<p>
						Hi!
					</p>
					<p>
						This is SoulCaptain under development.
					</p>
					<p>
						Greetings
					</p>
					<p>
						Maciej & Wiktor
					</p>
					<hr>
				</div>
			</div>


</body>

</html>