@media screen and (min-width: 1111px) {
  .container {
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1110px) {
  .container {
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

.navbarleft {
  margin-top: 65px;
}

/* Left navbar CSS */

.hideNavbarLeft {
  margin-left: -300px;
}

.hideButton {
  display: none;
}

/* custom do widok Deck */

.jumbotron {
  border-radius: 0rem;
  text-align: left!important;
}

.py-5 {
  padding-top: 2rem!important;
}