@media screen and (min-width: 1111px) {
  .container {}
}

@media screen and (min-width: 992px) and (max-width: 1110px) {
  .container {
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    margin-top: -20px;
    margin-bottom: -30px;
  }
}

/* custom do widok Deck */

.jumbotron {
  border-radius: 0rem;
  text-align: left !important;
}

.py-5 {
  padding-top: 2rem !important;
}

.deckjumbotronpas {
  margin-bottom: 20px;
  border-bottom: 1px;
  border-bottom-style: ridge;
  padding-bottom: 10px;
}

/* stylowanko deck.html */

.cardeditcss {
  width: 100%;
}

.encjaEdit {
  width: 288px;
  height: 300px;
}

.btnUpDownStyle {
  margin-left: -10px;
}

.album {
  background-color: #ffffff !important;
}

/* żeby main menu nie chowało pod sobą części strony
https://getbootstrap.com/docs/4.0/components/navbar/#placement
*/

body {
  padding-top: 90px;
}

/* Left navbar CSS */

.hideNavbarLeft {
  margin-left: -300px;
}

.hideButton {
  display: none;
}

.leftNavbar {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 69;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 0px;
  box-shadow: 0 0 16px rgba(0, 0, 0, .28);
  transition: 0.2s;
}

.navbar {
  box-shadow: 0 0 16px rgba(0, 0, 0, .28);
  z-index: 18;
}

.leftNavbar-brand {
  padding-top: 10px;
  padding-left: 10px;
  color: black;
}