<div class="card-body" data-template="card/body.html">
  <img v-if="card.image" class="card-img-top" alt="soulImg" style="height: 225px; width: 100%; display: block;" v-bind:src="card.image"
    data-holder-rendered="true">
  <h5 class="card-title">

    <span v-if="!cardEditMode">
      {{card.soulCardTitle}} {{card.reason}}
    </span>

    <span v-if="cardEditMode && cardIndex === cardEditIndex">
      <input class="cardeditcss" type="text" v-model="card.soulCardTitle">
    </span>
  </h5>

  <p v-for="(encja, encjaIndex) in card.soulCardSoulencje" class="card-text">
    <span v-if="!cardEditMode">{{encja.text}}</span>
    <span v-if="cardEditMode && cardIndex === cardEditIndex">
      <input class="cardeditcss" type="text" v-model="encja.reason">
      <textarea rows="5" columns="20" v-model="encja.text" class="encjaEdit"></textarea>
    </span>
  </p>


</div>