<div class="card-body" data-template="card/body.html">
  <img v-if="card.image" class="card-img-top" alt="soulImg" style="height: 225px; width: 100%; display: block;" v-bind:src="card.image"
    data-holder-rendered="true">
  <h5 class="card-title">

    <span v-if="!cardEditMode">
      {{card.soulCardTitle}} {{card.reason}}
    </span>

    <span v-if="cardEditMode && cardIndex === cardEditIndex">
      <input class="cardeditcss" type="text" v-model="card.soulCardTitle">
    </span>
  </h5>

  <button v-if="card.context.indexOf('manifest') > -1" v-on:click="shuffleManifest(card)">shuffle</button>


  <p v-for="(encja, encjaIndex) in card.soulCardSoulencje" v-if="cardEditMode || card.context.indexOf('manifest') === -1 || (card.context.indexOf('manifest') > -1 && encjaIndex < maxEncjeToShow )"
    class="card-text">
    <span v-if="!cardEditMode" v-on:click="toggleReason(encja)" v-bind:title="encja.reason">{{encja.text}}</span>
    <span v-if="!cardEditMode && encja.showReason" v-on:click="toggleReason(encja)">{{encja.reason}}</span>
    <span v-if="cardEditMode && cardIndex === cardEditIndex">
      <textarea class="cardeditcss" v-model="encja.reason"></textarea>
      <textarea rows="5" columns="20" v-model="encja.text" class="encjaEdit"></textarea>
    </span>
  </p>


</div>