<div data-template="bottomToolbar.html" v-if="cardEditMode" class="d-flex justify-content-between align-items-center">
  <div role="group" aria-label="first group" v-if="cardEditMode && cardIndex === cardEditIndex" class="btn-group">
    <a href="#!" v-bind:href="'/deckcardadd.html/?cardId=' + card._id">
      Advanced edit
    </a>
  </div>
  <div role="group" aria-label="first group">
    <button type="button" class="btn btn-sm btn-outline-secondary" v-if="cardEditMode && cardIndex === cardEditIndex" v-on:click="exitEditForm">
      Cancel</button>
    <button type="button" class="btn btn-sm btn-primary" v-if="cardEditMode && cardIndex === cardEditIndex" v-on:click="exitEditForm(card, cardIndex)">
      Save</button>
  </div>
</div>