<div class="container">
    <div class="deckjumbotronpas btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div role="group" aria-label="first group">
            <a href="/deckcardadd.html" type="button" class="btn btn-outline-primary">+ Add card</a>
            <a href="#" type="button" class="btn alert-heading btn-outline-secondary">Edit/rearrange cards</a>

        </div>
        <div class="btn-group">
            <div class="btn-group" role="group" aria-label="second group">
                <a href="/deck.html" type="button" class="nav-link">Grid</a>
                <a href="/deckdocument.html" type="button" class="nav-link">Document</a>
                <a href="/deckcardcarousel.html" type="button" class="nav-link">Carousel</a>
            </div>
        </div>
    </div>