<title>
    <%= title %>
</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
<% if (typeof user !== 'undefined' && user.email && user.email.indexOf('1337') > -1 ){ %>
    <!-- <link rel="stylesheet" href="/css/darkly.css"> -->
    <% } %>
        <!-- moar CSS -->
        <link rel="stylesheet" href="/css/global.css">

        <!-- scripts -->
        <script src="https://use.fontawesome.com/432e55ea08.js" async></script>
        <!-- Custom styles for this template -->