<main class="contaiter" role="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <div style="text-align:center">
                    <h1>
                        👻 SoulCaptain
                    </h1>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>
                    Hi!
                </p>
                <p>
                    This is 👻 SoulCaptain. Beautiful 🌴 app that helps you to dream your dreams! 🎉
                </p>
                </br>

                <p>You do not have account yet?
                    <a href="/signup.html">✍️ Sign up!</a>
                </p>
                <p>Allready have account?
                    <a href="/login.html">✅ Sign in!</a>
                </p>
                </br>

                <p>
                    We hope you like our app! Feel free to drop us a line!
                </p>
                </br>

                <p>We are posting every few days about our developement. Come read our
                    <a href="/blog.html">👻🎊 SoulBlog</a>
                </p>
                </br>
                <p>
                    Maciej & Wiktor
                </p>
            </div>
        </div>
        <% include ../common/footer.html %>
    </div>
</main>