<div id="leftNavbar" class="leftNavbar hideNavbarLeft">

    <a class="navbar-brand leftNavbar-brand" href="/">👻 SoulCaptain</a>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>
            <%= greeting %>
        </span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h6>

    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="/profile.html">
                <span data-feather="file-text"></span>
                👤 Profile
            </a>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>SoulDeck</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="/deck.html">
                <span data-feather="file-text"></span>
                🎴🎴 Deck Browser
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/deck.html">
                <span data-feather="file-text"></span>
                🎴🃏 Primary Deck
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/deckcardadd.html">
                <span data-feather="file-text"></span>
                ➕🃏 Add Card
            </a>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>DailyX</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="/habits.html">
                <span data-feather="file-text"></span>
                ❌ DailyX
            </a>
        </li>
    </ul>

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Misc</span>
        <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
        </a>
    </h6>
    <ul class="nav flex-column mb-2">
        <li class="nav-item">
            <a class="nav-link" href="/blog.html">
                <span data-feather="file-text"></span>
                🎊 SoulBlog
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <span data-feather="file-text"></span>
                ➡️ Logout
            </a>
        </li>
    </ul>

</div>