<nav class="navbar fixed-top navbar-light navbar-expand-md bg-light bd-navbar">
    <a class="navbar-brand" href="/">👻 SoulCaptain</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">


    </ul>
    <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-md-2" type="text" placeholder="Search" aria-label="Search">
    </form>

    <span class="navbar-toggler-icon closeNavButton" id="closeNavButton" onclick="closeNav()"></span>

    <span class="navbar-toggler-icon openNavButton hideButton" id="openNavButton" onclick="openNav()"></span>

</nav>
<% include ../common/navleft.html %>