<!DOCTYPE html>
<html lang="en">

<html>

<head>
  <% include ../../common/head.html %>
</head>

<body>
  <div id="app">
    <!-- navbar start-->
    <% include ../../common/nav.html %>
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="container">
          <h1>Add Deck</h1>
          <% include ../../mainContent/deck/addForm.html %>
        </div>
      </main>


      <% include ../../common/script-footer.html %>
  </div>
  <script src="/scripts/deck/list.js"></script>
</body>

</html>