<!DOCTYPE html>
<html lang="en">

<html>

<head>
  <% include ../../common/head.html %>
</head>

<body>
  <!-- navbar start-->
  <% include ../../common/nav.html %>
    <div id="app" class="container">
      <main role="main">
        <h1>Your Decks</h1>
        <p>To go to Deck, click name of the Deck.</p>
        <p>To delete Deck click "x" next to name of the Deck.</p>
        <ul>
          <li v-for="(deck, deckIndex) in soulDecks">
            <a v-bind:href="'/deck.html/' + deck._id">{{deck._id}} {{deck.title}}</a>
            <a v-bind:href="'/deck/'+deck._id + '/delete'">&times;</a>
          </li>
        </ul>
        <h2>Add new Deck</h2>
        <% include ../../mainContent/deck/addForm.html %>
      </main>
    </div>

    <% include ../../common/script-footer.html %>
      <% include ../../common/footer.html %>
        <script src="/scripts/deck/list.js"></script>
</body>

</html>