<!DOCTYPE html>
<html>

<head>
    <% include ../../common/head.html %>
</head>

<body>

    <!-- navbar start-->
    <% include ../../common/nav.html %>
        <div class="container" id="appContainer">
            <p>My diary</p>
            <ul>
                <li v-for="for (entry, index) in entries">{{entry.diaryNote}}</li>
            </ul>

        </div>
        <% include ../../common/script-footer.html %>
            <% include ../../common/footer.html %>
                <script src="/scripts/diary/add.js"></script>

</body>

</html>