<!DOCTYPE html>
<html>

<head>
    <% include ../../common/head.html %>
</head>

<body>
    <div id="app">
        <!-- navbar start -->
        <% include ../../common/nav.html %>
            <div class="container" id="appContainer">
                <p>My diary</p>
                <ul>
                    <li v-for="(entry, index) in diary">{{entry.diaryNote}}</li>
                </ul>

            </div>

            <% include ../../common/script-footer.html %>
                <script src="/scripts/diary/list.js"></script>
    </div>
</body>

</html>